<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

 

</head>

<body class="flex-column">

    <section class="isds conversationSection">
        <div class="conversationGroup">
            <!-- Main content for the conversation section -->
            <div class="coverRect"></div>
            <img class="conversationCover" src="/assets/b19e2e7d9a24df64ef96edc8225efa4e.png" alt="alt text" />
            <h2 class="conversationTitle">Conversations</h2>
            <div class="conversationColumn">
                <div class="conversationGroup1">
                    <!-- Conversation item -->
                    <div class="itemRect"></div>
                    <img class="itemImage" src="/assets/806841d7a46577d73e423c13938e173a.svg" alt="alt text" />
                    <div class="itemColumn">
                        <p class="itemTitle">Homemade Dumplings</p>
                        <p class="itemSubtitle">everydumplingever.com</p>
                    </div>
                </div>
                <div class="contentBox1">
                    <article class="contentBox3">
                        <img class="contentImage" src="/assets/51f44f89ea97ba26c9384ace60acc897.svg" alt="alt text" />
                        <div class="contentGroup">
                            <!-- Complex layout for content information -->
                            <div class="contentRow">
                                <img class="contentImageSmall" src="/assets/d5fcb7a7446e2191650da846e284a61e.png" alt="alt text" />
                                <div class="contentColumn">
                                    <h5 class="contentTitle">Name</h5>
                                    <div class="contentTextBox_box">
                                        <span class="contentTextBox">Supporting line text lorem ipsum dolor sit amet, consectetur.</span>
                                    </div>
                                </div>
                                <span class="contentInfo">10 min</span>
                            </div>
                        </div>
                        <div class="contentRect"></div>
                    </article>
                    <article class="contentBox2">
                        <div class="contentGroup3">
                            <img class="contentImage2" src="/assets/51f44f89ea97ba26c9384ace60acc897.svg" alt="alt text" />
                            <div class="contentRow1">
                                <div class="contentRow2">
                                    <div class="contentRectSmall"></div>
                                    <div class="contentColumn2">
                                        <h5 class="contentTitleSmall">Name</h5>
                                        <div class="contentTextBoxSmall_box">
                                            <span class="contentTextBoxSmall">
                                                Supporting line text lorem ipsum dolor sit amet, consectetur.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="contentInfoSmall">10 min</span>
                            </div>
                            <img class="contentImage3" src="/assets/d5fcb7a7446e2191650da846e284a61e.png" alt="alt text" />
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="additionalGroup">
            <div class="additionalRect"></div>
            <div class="additionalRow">
                <div class="additionalRow2">
                    <div class="iconRow">
                        <img class="additionalImage1" src="/assets/bdf0da079a5ba4d1b5b5897d65fda47b.svg" alt="alt text" />
                        <img class="additionalImage2" src="/assets/1493aac787ca349e4a91b6733eb694f0.svg" alt="alt text" />
                    </div>
                    <div class="iconGroup">
                        <div class="iconRect"></div>
                        <div class="iconRow2">
                            <img class="iconImage1" src="/assets/ac6cec7cb29130b2f1015d775d08f345.svg" alt="alt text" />
                            <img class="iconImage2" src="/assets/720dbfa5e72be87b9d6eae8078b1fd9f.svg" alt="alt text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="rect2"></div>
            <div class="labelGroup">
                <div class="labelRow">
                    <!-- Item list of labels -->
                    <span class="labelItem1">Label</span>
                    <span class="labelItem2">Label</span>
                    <span class="labelItem3">Label</span>
                    <span class="labelItem4">Label</span>
                    <span class="labelItem5">Label</span>
                </div>
            </div>
            <div class="mainContentBox">
                <div class="mainContentRow">
                    <div class="subContentRow">
                        <img class="mainImage" src="/assets/abcd30a6fed7457217ccdc84c9f9850c.svg" alt="alt text" />
                        <h3 class="mainSubtitle">Name</h3>
                    </div>
                    <div class="subContentRow2">
                        <img class="mainIcon1" src="/assets/f542eada40ed3dfc1a7ba214fc9590ae.svg" alt="alt text" />
                        <img class="mainIcon2" src="/assets/8000f7c318534079cd16c50e67d80f9f.svg" alt="alt text" />
                    </div>
                </div>
            </div>
            <div class="finalGroup">
                <div class="cardGroup">
                    <div class="cardGroupInner">
                        <!-- Complex layout for card information -->
                        <div class="cardRect"></div>
                        <img class="cardImage" src="/assets/5791ceb8b2f0855c9257d3a0ba5917b1.svg" alt="alt text" />
                    </div>
                    <div class="cardRect2"></div>
                    <h5 class="cardTitle">that looks so good!</h5>
                </div>
            </div>
            <div class="buttonRow">
                <div class="buttonRowInner">
                    <div class="buttonGroup1">
                        <div class="buttonRect1"></div>
                        <h5 class="buttonTitle1">Let’s do it</h5>
                    </div>
                    <div class="buttonGroup2">
                        <div class="buttonRect2"></div>
                        <h5 class="buttonTitle2">Great!</h5>
                    </div>
                    <div class="buttonGroup3">
                        <!-- Repeated button group for actions -->
                        <div class="buttonRect3"></div>
                        <h5 class="buttonTitle3">Great!</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
